.box {
    position: relative;
    margin: auto;
    width: 700px;
    height: 400px;
    background-color: antiquewhite;
    margin-top: 50px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.left,
.right {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    opacity: .5;
    line-height: 50px;
    text-align: center;
    z-index: 100;
}

.left {
    float: left;
}

.right {
    float: right;
    position: absolute;
    right: 0;
}

img {
    width: 700px;
    height: 400px;

}

ul {
    /* 移动必须要有定位 */
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
}

ul li {
    float: left;
}

ol {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}

ol li {
    float: left;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.current{
    background-color:hotpink;
}